<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@Page.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
    <link href="~/Styles/layout.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Styles/home.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Styles/photos.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Styles/story.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Styles/rsvp.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Styles/registry.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Styles/admin.css" rel="stylesheet" type="text/css" media="screen" />
    @RenderSection("Styles", required: false)
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/scripts/jquery-1.7.2.min.js"></script>
</head>
<body id="@Page.PageId">
    <div id="page">
      <div id="page-content">
        <div id="header-wrapper">
          <div id="header">
            <div id="logo">
              <img src="~/Images/JL-33.jpg" alt="logo"/>
            </div>
          </div>
        </div>
        @RenderPage("~/Layouts/_Menu.cshtml")
        <div class="content">
          @RenderBody()
        </div>
      </div>
    </div>
  @RenderSection("Scripts", required: false)
</body>
</html>